body {
background-color: rgb(253, 251, 251);
}

header {
position: fixed;
top: 0;
}

section {
display: inline-block;
}

footer {
color: black;
}

#licoes_aprendidas {
color: black;
}

#licoes_a_aprender {
color: black;
}

#link-trybe {
text-decoration: none;
}

#meu-aprendizado {
display: block;
width: 500px;
border: black solid;
padding: 5px;
overflow: auto;
}
