body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0;
}

section {
    display: inline-block;
}

#licoes_aprendidas {
    color: black;
}

#licoes_a_aprender {
    color: black;
}
